<div class="row">
                <!-- Team -->
                <div class="col-sm-5 sm-margin-b-50" style="margin-left:30%;margin-right:30%;" >
                    <div class="bg-color-white margin-b-20">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" src=@userimage alt="Land Image">
                        </div>
                    </div>
                    <h4><a href="#">@row.FirstName @row.LastName</a> <span class="text-uppercase margin-l-20">Place= @row.City </span></h4>
                    <p><h3>Price = @row.Price</h3></p>
                    <p>Land Square Meter = @row.LandSqm</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Team -->

            </div>